div.epigram {
	background-color: #eeeeee;
	float: right;
	width: 40%;
	margin: 0mm 0mm 5mm 0mm;
	padding: 0mm 3mm 0mm 3mm;
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
span.logo {
	font-variant:small-caps;
}
img.circuit {
	width: 35%;
	float: right;
	margin: 20px;
}
div.ispconn {
	background-color: #f8f8f8;
	width: 49%;
	float: left;
	padding-bottom: 2%;
}
div.hvconn {
	background-color: #f8f8f8;
	width: 49%;
	float: right;
	padding-bottom: 2%;
}
p.conn {
	font-family: Courier;
	font-size: 25px;
	text-align: center;
}
h4.mcu {
	clear: both;
	background-color: #e0e0e0;
	font-size: 25px;
	text-align: center;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}
table {
	margin-left: 5%;
	border: 1px solid black;
	border-collapse: collapse;
}
td {
	padding: 5px
}
th {
	background-color: #d0d0d0
}
tr:nth-child(odd) {background: #f0f0f0}
tr:nth-child(even) {background: #ffffff}
td.result {
	text-align: center;
}
