div.epigram {
	background-color: #eeeeee;
	float: right;
	width: 40%;
	margin: 0mm 0mm 5mm 0mm;
	padding: 0mm 3mm 0mm 3mm;
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
span.logo {
	font-variant:small-caps;
}
img.circuit {
	width: 35%;
	float: right;
	margin: 20px;
}
img.breadboard {
	width: 50%;
	float: right;
	margin: 20px;
}
